# Environment variables
.env
*.env

# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask session
flask_session/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db